@font-face {
  font-family: Plaax;
  src: url(//cdn.bayzat.com/static/website-v2/fonts/plaax/light/Plaax6Ney-Light.eot?v=1.1.0);
  src: url(//cdn.bayzat.com/static/website-v2/fonts/plaax/light/Plaax6Ney-Light.eot?#iefix&v=1.1.0) format('embedded-opentype'),
    url(//cdn.bayzat.com/static/website-v2/fonts/plaax/light/Plaax6Ney-Light.woff?v=1.1.0) format('woff'),
    url(//cdn.bayzat.com/static/website-v2/fonts/plaax/light/Plaax6Ney-Light.ttf?v=1.1.0) format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Plaax;
  src: url(//cdn.bayzat.com/static/website-v2/fonts/plaax/regular/Plaax6Ney-Regular.eot?v=1.1.0);
  src: url(//cdn.bayzat.com/static/website-v2/fonts/plaax/regular/Plaax6Ney-Regular.eot?#iefix&v=1.1.0) format('embedded-opentype'),
    url(//cdn.bayzat.com/static/website-v2/fonts/plaax/regular/Plaax6Ney-Regular.woff?v=1.1.0) format('woff'),
    url(//cdn.bayzat.com/static/website-v2/fonts/plaax/regular/Plaax6Ney-Regular.ttf?v=1.1.0) format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Plaax;
  src: url(//cdn.bayzat.com/static/website-v2/fonts/plaax/bold/Plaax6Ney-Bold.eot?v=1.1.0);
  src: url(//cdn.bayzat.com/static/website-v2/fonts/plaax/bold/Plaax6Ney-Bold.eot?#iefix&v=1.1.0) format('embedded-opentype'),
    url(//cdn.bayzat.com/static/website-v2/fonts/plaax/bold/Plaax6Ney-Bold.woff?v=1.1.0) format('woff'),
    url(//cdn.bayzat.com/static/website-v2/fonts/plaax/bold/Plaax6Ney-Bold.ttf?v=1.1.0) format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Plaax;
  src: url(//cdn.bayzat.com/static/website-v2/fonts/plaax/heavy/Plaax6Ney-Heavy.eot?v=1.1.0);
  src: url(//cdn.bayzat.com/static/website-v2/fonts/plaax/heavy/Plaax6Ney-Heavy.eot?#iefix&v=1.1.0) format('embedded-opentype'),
    url(//cdn.bayzat.com/static/website-v2/fonts/plaax/heavy/Plaax6Ney-Heavy.woff?v=1.1.0) format('woff'),
    url(//cdn.bayzat.com/static/website-v2/fonts/plaax/heavy/Plaax6Ney-Heavy.ttf?v=1.1.0) format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Basis Grotesque Pro';
  src: url(//cdn.bayzat.com/static/website-v2/fonts/basis-grotesque/light/BasisGrotesquePro-Light.eot?v=1.1.0);
  src: url(//cdn.bayzat.com/static/website-v2/fonts/basis-grotesque/light/BasisGrotesquePro-Light.eot?#iefix&v=1.1.0)
      format('embedded-opentype'),
    url(//cdn.bayzat.com/static/website-v2/fonts/basis-grotesque/light/BasisGrotesquePro-Light.woff?v=1.1.0) format('woff'),
    url(//cdn.bayzat.com/static/website-v2/fonts/basis-grotesque/light/BasisGrotesquePro-Light.ttf?v=1.1.0) format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Basis Grotesque Pro';
  src: url(//cdn.bayzat.com/static/website-v2/fonts/basis-grotesque/regular/BasisGrotesquePro-Regular.eot?v=1.1.0);
  src: url(//cdn.bayzat.com/static/website-v2/fonts/basis-grotesque/regular/BasisGrotesquePro-Regular.eot?#iefix&v=1.1.0)
      format('embedded-opentype'),
    url(//cdn.bayzat.com/static/website-v2/fonts/basis-grotesque/regular/BasisGrotesquePro-Regular.woff?v=1.1.0) format('woff'),
    url(//cdn.bayzat.com/static/website-v2/fonts/basis-grotesque/regular/BasisGrotesquePro-Regular.ttf?v=1.1.0) format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Basis Grotesque Pro';
  src: url(//cdn.bayzat.com/static/website-v2/fonts/basis-grotesque/medium/BasisGrotesquePro-Medium.eot?v=1.1.0);
  src: url(//cdn.bayzat.com/static/website-v2/fonts/basis-grotesque/medium/BasisGrotesquePro-Medium.eot?#iefix&v=1.1.0)
      format('embedded-opentype'),
    url(//cdn.bayzat.com/static/website-v2/fonts/basis-grotesque/medium/BasisGrotesquePro-Medium.woff?v=1.1.0) format('woff'),
    url(//cdn.bayzat.com/static/website-v2/fonts/basis-grotesque/medium/BasisGrotesquePro-Medium.ttf?v=1.1.0) format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Basis Grotesque Pro';
  src: url(//cdn.bayzat.com/static/website-v2/fonts/basis-grotesque/bold/BasisGrotesquePro-Bold.eot?v=1.1.0);
  src: url(//cdn.bayzat.com/static/website-v2/fonts/basis-grotesque/bold/BasisGrotesquePro-Bold.eot?#iefix&v=1.1.0)
      format('embedded-opentype'),
    url(//cdn.bayzat.com/static/website-v2/fonts/basis-grotesque/bold/BasisGrotesquePro-Bold.woff?v=1.1.0) format('woff'),
    url(//cdn.bayzat.com/static/website-v2/fonts/basis-grotesque/bold/BasisGrotesquePro-Bold.ttf?v=1.1.0) format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Basis Grotesque Pro';
  src: url(//cdn.bayzat.com/static/website-v2/fonts/basis-grotesque/bold/BasisGrotesquePro-Bold.eot?v=1.1.0);
  src: url(//cdn.bayzat.com/static/website-v2/fonts/basis-grotesque/bold/BasisGrotesquePro-Bold.eot?#iefix&v=1.1.0)
      format('embedded-opentype'),
    url(//cdn.bayzat.com/static/website-v2/fonts/basis-grotesque/bold/BasisGrotesquePro-Bold.woff?v=1.1.0) format('woff'),
    url(//cdn.bayzat.com/static/website-v2/fonts/basis-grotesque/bold/BasisGrotesquePro-Bold.ttf?v=1.1.0) format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Basis Grotesque Pro';
  src: url(//cdn.bayzat.com/static/website-v2/fonts/basis-grotesque/black/BasisGrotesquePro-Black.eot?v=1.1.0);
  src: url(//cdn.bayzat.com/static/website-v2/fonts/basis-grotesque/black/BasisGrotesquePro-Black.eot?#iefix&v=1.1.0)
      format('embedded-opentype'),
    url(//cdn.bayzat.com/static/website-v2/fonts/basis-grotesque/black/BasisGrotesquePro-Black.woff?v=1.1.0) format('woff'),
    url(//cdn.bayzat.com/static/website-v2/fonts/basis-grotesque/black/BasisGrotesquePro-Black.ttf?v=1.1.0) format('truetype');
  font-weight: 900;
  font-style: normal;
}

/* Arabic fonts */
@font-face {
  font-family: 'Basis Grotesque Pro Arabic';
  src: url(//cdn.bayzat.com/static/website-v2/fonts/basis-grotesque/light/BasisGrotesqueProArabic-Light.otf?v=1.1.0) format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Basis Grotesque Pro Arabic';
  src: url(//cdn.bayzat.com/static/website-v2/fonts/basis-grotesque/regular/BasisGrotesqueProArabic-Regular.otf?v=1.1.0) format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Basis Grotesque Pro Arabic';
  src: url(//cdn.bayzat.com/static/website-v2/fonts/basis-grotesque/medium/BasisGrotesqueProArabic-Medium.otf?v=1.1.0) format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Basis Grotesque Pro Arabic';
  src: url(//cdn.bayzat.com/static/website-v2/fonts/basis-grotesque/bold/BasisGrotesqueProArabic-Bold.otf?v=1.1.0) format('opentype');
  font-weight: 700;
  font-style: normal;
}
